:root {
  --popofcolor: deeppink;
  --maincolor: #272142;
  --stdcolor: black;
  --tertiarycolor: white;
  --heading-font-family: "Playfair Display", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
  --altbackgroungcolor: #f9f7fe;
}

body {
  font-family: var(--secondary-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--stdcolor);
  font-weight: bold;
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  list-style: none;
  margin-left: 10px;
  display: inline;
  line-height: 42px;
}

nav a:hover,
nav li.active a {
  color: var(--popofcolor);
  transition: all 100ms ease-in-out;
}
nav li .active a {
  color: var(--stdcolor);
}
.logo {
  color: var(--popofcolor);
  padding: 10px 0;
  max-width: 40px;
}

.hero {
  background: var(--altbackgroungcolor);
  text-align: center;
  padding: 80px 20px;
}
.content-container {
  padding: 60px 20px;
}
.hero h1 {
  color: var(--popofcolor);
  font-weight: bold;
  font-size: 96px;
  font-family: var(--heading-font-family);
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  color: var(--maincolor);
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--secondary-font-family);
  color: var(--popofcolor);
}
.content {
  margin: 30px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--secondary-font-family);
  line-height: 1.5;
  color: var(--popofcolor);
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: var(--maincolor);
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.content p {
  font-size: 20px;
}

.btn-branding {
  border-radius: 4px;
  color: var(--tertiarycolor);
  background: var(--popofcolor);
  line-height: 27px;
  font-size: 18px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}
a {
  text-decoration: none;
  color: var(--maincolor);
}

footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--altbackgroungcolor);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}
footer .email-link {
  color: var(--maincolor);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--popofcolor);
  transition: all 100ms ease-in-out;
}
footer .social-links a {
  font-size: 35px;
  color: var(--maincolor);
  margin: 0px 20px;
  background: var(--altbackgroungcolor);
  padding: 10px 14px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: var(--popofcolor);
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 44px;
  }
  .hero h2 {
    font-size: 15px;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 35px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 375px) {
  .logo {
    display: none;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 40px 20px;
  }
  .hero h1 {
    font-size: 34px;
  }
  .hero h2 {
    font-size: 13px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 25px;
    line-height: 40px;
  }
}
